// font settings

$font-family:          'Inconsolata for Powerline', 'Inconsolata', monospace;
$font-size:            12.5px;
$console-line-height:  16.5px;

@mixin strong-font {
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin normal-font {
  font-weight: normal !important;
  font-style: normal !important;
}

// color settings

$dracula-bg:             #282A36;
$dracula-fg:             #F8F8F2;
$dracula-black:          #000000;
$dracula-red:            #FF5555;
$dracula-green:          #50FA7B;
$dracula-yellow:         #F1FA8C;
$dracula-purple:         #BD93F9;
$dracula-magenta:        #FF79C6;
$dracula-cyan:           #8BE9FD;
$dracula-gray:           #BFBFBF;
$dracula-light-black:    #4D4D4D;
$dracula-light-red:      #FF6E67;
$dracula-light-green:    #5AF78E;
$dracula-light-yellow:   #F4F99D;
$dracula-light-purple:   #CAA9FA;
$dracula-light-magenta:  #FF92D0;
$dracula-light-cyan:     #9AEDFE;
$dracula-light-gray:     #E6E6E6;

$hint-bg:      $dracula-light-magenta;
$hint-fg:      $dracula-black;
$hint-border:  1px solid $dracula-light-magenta;

$console-border: none;

$completion-bg:       $dracula-bg;
$completion-fg:       $dracula-fg;
$completion-item-bg:  $dracula-light-black;
$completion-url-fg:   $dracula-cyan;

$title-bg: $dracula-purple;
$title-fg: $dracula-black;

$message-border-top: 1px solid $dracula-gray;

$error-bg: $dracula-red;
$error-fg: $dracula-black;

$info-bg: $dracula-bg;
$info-fg: $dracula-cyan;

$command-bg:          $dracula-light-black;
$command-fg:          $dracula-fg;
$command-border-top:  1px solid $dracula-gray;

// concatenated copy of the orignal style source files

// settings/form CSS has been removed

// positioning CSS has been removed

// !important has been added

// styles have been replaced with variables and mixins

.vimvixen-hint {
  background-color: $hint-bg !important;
  border: $hint-border !important;
  font-size: $font-size !important;
  color: $hint-fg !important;
  @include strong-font;
}

.vimvixen-console-frame {
  border: $console-border !important;
  background-color: unset;
}

.vimvixen-console {
  // sic.
  @mixin consoole-font {
    font-family: $font-family !important;
    font-size: $font-size !important;
    line-height: $console-line-height !important;
    @include normal-font;
  }

  &-completion {
    background-color: $completion-bg !important;
    color: $completion-fg !important;

    @include consoole-font;

    &-title {
      background-color: $title-bg !important;
      color: $title-fg !important;
      @include strong-font;
    }

    &-item {
      &.vimvixen-completion-selected {
        background-color: $completion-item-bg !important;
      }

      &-url {
        color: $completion-url-fg !important;
      }
    }
  }

  &-message {
    @include consoole-font;

    border-top: $message-border-top !important;
  }

  &-error {
    background-color: $error-bg !important;
    color: $error-fg !important;
    @include strong-font;
  }

  &-info {
    background-color: $info-bg !important;
    color: $info-fg !important;
    @include normal-font;
  }

  &-command-wrapper {
    border-top: $command-border-top !important;
  }

  &-command {
    background-color: $command-bg !important;
    color: $command-fg !important;

    &-prompt {
      background-color: $command-bg !important;
      color: $command-fg !important;
    }

    &-input {
      background-color: $command-bg !important;
      color: $command-fg !important;
    }

    &-prompt:before {
      @include consoole-font;
    }

    &-input {
      @include consoole-font;
    }
  }
}
